<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<meta name="keywords" content="{{ page.keywords }}" />
<meta name="description" content="{{ page.description }}" />
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=639581"></script>
<script type="text/javascript" src="http://lib.sinaapp.com/js/swfobject/2.2/swfobject.js"></script>
<script type="text/javascript">
swfobject.embedSWF("http://sfpress.sinaapp.com/assets/sfPlayer.swf?v=4", "sfPlayer", "100%", "2000", "9.0.124", "http://sfpress.sinaapp.com/assets/install.swf", {}, { bgcolor : "#ffffff", quality : "high", allowScriptAccess : "always" }, { id : "sfPlayer", name : "sfPlayer" });
function loadScript(url, id, s) {
	var ga = document.createElement('script');
	ga.async = true; ga.src = url; ga.type = 'text/javascript'; if(id) ga.id = id;
	s.parentNode.insertBefore(ga, s);
}
function swfLoaded() {
	var s = document.getElementsByTagName('script')[0];
	loadScript('http://www.google-analytics.com/ga.js', null, s);
	loadScript('http://s19.cnzz.com/stat.php?id=4303301&web_id=4303301', null, s);
	loadScript('http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=' + new Date().getHours(), 'bdshell_js', s);
}
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-29825872-1']);
_gaq.push(['_trackPageview']);
</script>
<style>
html,body { margin:0; padding:0; overflow:hidden; text-align:center; font:宋体,sans-serif; font-size:12px; line-height:14px; }
td.base { background-image:url(http://sfpress.sinaapp.com/assets/base.png); background-repeat:no-repeat; width:313px; height:11px; }
a.topbtn { color:white; text-decoration:none; display:block; padding:10px 8px 6px 8px; }
a.topbtn:hover { background-color:#4c4c4c; }
</style>
</head>
<body>
<div style="background-color:#2d2d2d; border-bottom:1px solid black; height:41px;">
<table class="top" cellpadding="0" cellspacing="0" style="width:762px; margin:0 auto;">
<tr>
<td rowspan="2"><a class="topbtn" href="http://www.isosf.com/" title="爱搜私服 - 让搜服更简单">爱搜私服 - 让搜服更简单</a></td>
<td style="height:3px;"></td>
<td width="136" rowspan="3"><img src="http://sfpress.sinaapp.com/assets/logo.png" alt="爱搜私服" title="爱搜私服" width="127" height="41" style="padding:0 2px 0 7px;"/></td>
<td rowspan="2"><a class="topbtn" target="_blank" href="http://www.isosf.com/download.html" title="热血传奇20110928客户端">热血传奇20110928客户端</a></td>
<td rowspan="2"><a class="topbtn" target="_blank" href="http://blog.sina.com.cn/s/blog_a05eb46f010127oy.html" title="免费广告申请">免费广告申请</a></td>
<td rowspan="2"><a class="topbtn" target="_blank" href="http://blog.sina.com.cn/isosf/" title="新浪博客">新浪博客</a></td>
</tr>
<tr>
<td>
<div style="width:152px; height:27px;"><div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<a class="bds_qzone"></a>
<a class="bds_tsina"></a>
<a class="bds_tqq"></a>
<a class="bds_renren"></a>
<span class="bds_more"></span>
<a class="shareCount"></a>
</div>
</div>
</td>
</tr>
<tr>
<td colspan="2" class="base"></td>
<td colspan="3" class="base" style="background-position:-137px 0;"></td>
</tr>
</table>
</div>
<div id="sfPlayer"><script type="text/javascript">document.write('<div style="height:2000px;"></div>');</script></div>
<a target="_blank" href="http://www.xz3000.com/" title="血战三千回合">血战王</a>
<a target="_blank" href="http://www.isosf.com/list.html" title="新开传奇网站">新开传奇网站</a>
<a target="_blank" href="http://www.isosf.com/sd.html" title="山东传奇私服">山东传奇私服</a>
<a target="_blank" href="http://3000ok.isosf.com/" title="3000ok">3000ok</a>
{{ content }}</body>
</html>
